/*	------------------------------------------------------
	THESE STYLES ARE REQUIRED
	------------------------------------------------------ */

.menu-toggle {
	display: none;
	float: right;
}
.menu-toggle:before {
	content: '\2630';
	font-family: 'fontello';
	font-size: 2em;
}
.main-menu { 
	float: left;
}
.main-menu ul { 
	list-style: none;
	position: relative;
	display: inline-table;
	white-space: nowrap;
}
.main-menu > ul > li { 
	display: inline-block;
}
.main-menu ul li a { 
	display: block;
}
.main-menu ul ul { 
	display: none; 
	position: absolute; 
	top: 100%;
	white-space: nowrap;
}
.main-menu ul li:hover > ul {
	display: block;
}
.main-menu ul ul > li {
	position: relative;
}
.main-menu ul ul > li a {
	height: auto;
}
.main-menu ul ul ul {
	position: absolute; 
	left: 100%; 
	top: 0;
}

	@media screen and (max-width: 768px) {
	    a.menu-toggle {
			display: block;
		}
		.main-menu {
			clear: both;
			min-width: inherit;
			float: none;
		}
		.main-menu,
		.main-menu > ul ul {
			overflow: hidden;
			height: 0;
		}
		.main-menu.active,
		.main-menu > ul ul.active {
			height: auto;
		}
		.main-menu ul {
			display: inline;
		}
		.main-menu li,
		.main-menu > ul > li {
			display: block;
		}
		.main-menu li a {
			display: block;
			position: relative;
		}
		.main-menu li.menu-item-parent > a:after {
			content: '\25be';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			font-family: 'fontello';
			font-size: 2em;
			padding: 0.55em 0.5em;
		}
		.main-menu li.menu-item-parent > a.active:after {
			content: "\25b4";
		}
		.main-menu ul ul,
		.main-menu ul ul ul {
			display: inherit;
			position: relative;
			top: auto;
			left: auto;
		}
	}

/*	--------------------------------------------------------------------------------------------
	 ICON FONT – Not strictly required, but included for a nice UI.
	-------------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2408040');
  src: url('../font/fontello.eot?2408040#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?2408040') format('woff'),
       url('../font/fontello.ttf?2408040') format('truetype'),
       url('../font/fontello.svg?2408040#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}